#box {
    border: 1px solid #000;
    width: 10%;
    padding: 3em 3em;
    text-align: center;
}

body {
    background-color: rgba(96, 68, 168, 0.588);
    color: #000;
}

#shape {
    margin: 2em 0;
    width: 300px;
    height: 100px;
    background-color: black;
    margin-top: 50px;
    padding: 50px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#greenBtn {
    margin: 2em 2em;
    padding: 1em;
    height: 100px;
    width: 100px;
    border: none;
    background-color: green;
    color: #fff;
    border-radius: 50%;
}

#redBtn {
    margin: 2em 0;
    padding: 1em;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 10px;
}

#resetBtn {
    margin: 2em 2em;
    padding: 1em;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}